$b1: #222;
$b2: #333;
$f1: #eee;
$f2: #fff;
$error: #e22;
$e1: #a6c;
@mixin flexC() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}
@mixin flexR() {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}
@mixin form() {
  background: linear-gradient(to top, $b1, $b2);
  padding: 0.5rem;
  @include flexC();
  gap: 0.75rem;
  label {
    @include flexC();
    align-items: flex-start;
    .error {
      color: $error;
    }
  }
}
@mixin button() {
  padding: 0.5rem;
  border: 1px solid $b2;
  background: linear-gradient(to top, $b1, $b2);
  color: $f1;
  &:hover {
    border: 1px solid $f1;
    background: linear-gradient(to top, $b2, $b1);
    color: $f2;
    cursor: pointer;
  }
}
