@import "./base.scss";
header {
  @include flexR();
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  background: linear-gradient(to top, $b1, $b2);
  nav {
    @include flexR();
    gap: 0.5rem;
    a {
      padding: 0.5rem;
      background-color: $b1;
      &:hover {
        background-color: $b2;
        color: $f2;
      }
    }
  }
}
